h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Crimson Text', serif;
  font-weight: normal;
  max-width: 45ch;
}

p {
  max-width: 60ch;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 12px;
  text-align: center;
}

.off-white {
  background-color: var(--background);
  color: var(--text);
}



.connect {
  a {
    background-color: var(--text);
    color: #fff;
    padding: 8px 24px;
  }
}
